
useDynLib(qrupdate)

export(qrupdate,
       deleterow,
       addrow,
       deletecolumn,
       addcolumn)
S3method("qrupdate", "qr")
S3method("qrupdate", "default")
S3method("deleterow", "qrupdate")
S3method("addrow", "qrupdate")
S3method("deletecolumn", "qrupdate")
S3method("addcolumn", "qrupdate")
S3method("solve", "qrupdate")

export(cleanmem)
